<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>


    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>users/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Users</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.UsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Users</servlet-name>
        <url-pattern>users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>messages/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.MessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>messages</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Token</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.TokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Token</servlet-name>
        <url-pattern>auth/token</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Relationship</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.RelationshipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Relationship</servlet-name>
        <url-pattern>usersFollowedBy/*</url-pattern>
        <url-pattern>usersFollowersOf/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Avatar</servlet-name>
        <servlet-class>fr.ecp.sio.jablog.api.AvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Avatar</servlet-name>
        <url-pattern>users/me/avatar</url-pattern>
    </servlet-mapping>


</web-app>
